* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0.5rem 5%;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
p {
  font-size: 1.25rem;
}
.text {
  font-family: "Kalam", cursive;
}

.header {
  display: flex;
  justify-content: center;
}
.logo_header {
  height: 10vh;
}

nav {
  background-color: #282a35;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: white;
}

section {
  display: flex;
}

.banner {
  position: relative;
  text-align: left;
  display: inline-block;
  background: transparent;
}
.banner h1 {
  position: absolute;
  left: 1rem;
  top: 20%;
}

.banner p {
  position: absolute;
  left: 1rem;
  top: 30%;
  font-weight: 500;
  line-height: 1;
}

#img1 {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  filter: blur(0.0625rem);
}

.typed-out {
  overflow: hidden;
  border-right: 0.1em solid orange;
  white-space: nowrap;
  animation: typing 2s;
}

.articles {
  display: grid;
  margin-inline: auto;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 1em;
}
article {
  position: relative;
  flex: 1;
  border-radius: 1em;
  box-shadow: none;
  overflow: hidden;
  background: white;
}
figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}
article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}
article:hover,
:focus {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
}

footer {
  display: flex;
}
footer div {
  flex: 1;
}
.logo_footer {
  height: 2.5vh;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 54.7%;
  }
}
article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}