*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0.5rem 5%;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  min-height: 100vh;
  font-family: "Bebas Neue", cursive;
}
h1 {
  font-size: 1.9rem;
}
h2 {
  font-size: 1.5rem;
}
p {
  font-size: 1.1rem;
}

/* Header section */
.header {
  display: flex;
  justify-content: center;
}
.logo_header {
  height: 10vh;
}

/* Navbar section */
nav {
  background-color: #282a35;
  padding: 0.75em;
  border-radius: 0.5em;
  margin: 0.5em 0;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: white;
}

/* Banner */
section {
  display: flex;
}
.banner {
  text-align: left;
  display: inline-block;
  background: transparent;
  margin-bottom: .5em;
}
.banner h1 {
  position: absolute;
  left: 1rem;
  top: 20%;
  margin: 0 0 0.25em 0;
}

.banner p {
  position: absolute;
  left: 1rem;
  top: 30%;
  line-height: 1;
}

#img1 {
  width: 100%;
  height: auto;
  filter: blur(0.05em);
}

.typed-out {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s;
}

/* Cards */
.articles {
  gap: 24px;
}

article {
  flex: 1;
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 0.5em;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article h2 {
  margin: 0 0 0.25em 0;
  letter-spacing: 0.05em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 1em;
  margin-bottom: 2em;
}

article a {
  position: absolute;
  bottom: 1em;
  display: inline-flex;
  align-items: center;
  color: #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

article a::after {
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

article a:focus {
  outline: 1px dotted #28666e;
}

article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px .5em .5em 0px;
}

/* Footer section */
footer {
  display: flex;
  margin: 1em 0 .5em 0;
}
footer div{
  flex: 1;
  display: flex;
  justify-content: center;
}
.logo_footer {
  width: 17em;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 64.2%;
  }
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
  .banner p{
    display: none;
  }
}
