* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: .5rem 5%;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}
.logo_header {
  height: 10vh;
}

nav {
  background-color: #282a35;
  padding: .75rem;
  border-radius: .5rem;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: white;
}

section {
  display: flex;
}
article {
  flex: 1;
}

footer {
  display: flex;
}
footer div {
  flex: 1;
}
.logo_footer {
  height: 2.5vh;
}
